{% extends "agent/bars/base.html" %}

{% load bootstrap4 html_helper %}

{% block nav %}
{% endblock nav %}

{% block content %}

  <script language="javascript">
    $(function () {
      $("#clear-search").click(function (e) {
        $('#' + $(this).data('search-id')).val('');
        $(this).parents('form').submit();
      });
    });
  </script>


  <div class="ml-4 mt-4 mr-4 container-fluid">
    <legend class="border-bottom mb-2">Заявки</legend>
    <div style="background-color: #FFFFFF;" class="sticky-top">
      <div class="row">
        <div class="col-md-6">
          <form class="form-inline mb-2"
                action="{% url 'request:list' %}" method="GET">
          <a name="add-new"
             href="{% url 'request:new' %}"
             class="btn btn-sm btn-info"
          >
            Добавить заявку
          </a>&#8195
          <a name="add-new"
             href="{% url 'request:archive' %}"
             class="btn btn-sm btn-info"
          >
            Архив заявок
          </a></form>
        <form class="form-inline mb-2">
          <div class="ml-2">
        {{ filter.form.date_from.label }}
       {% bootstrap_field filter.form.date_from show_label=false %}
      </div>
          <div class="ml-2">
        {{ filter.form.date_to.label }}
       {% bootstrap_field filter.form.date_to show_label=false %}
      </div>
      <div class="ml-2">
        {{ filter.form.realty.label }}
       {% bootstrap_field filter.form.realty show_label=false %}
      </div>
      <div class="ml-2">
        {{ filter.form.client_sell.label }}
       {% bootstrap_field filter.form.client_sell show_label=false %}
      </div>
          <div class="ml-2">
        {{ filter.form.client_buy.label }}
       {% bootstrap_field filter.form.client_buy show_label=false %}
        </div>
          <div class="ml-2">
        {{ filter.form.worker.label }}
       {% bootstrap_field filter.form.worker show_label=false %}
        </div>
              <input type="submit"
                   value="Поиск" class="mt-4 ml-2 btn btn-success"/><br><br>
          </form>
        </div>
      </div>
    </div>

      <table class="table table-sm table-bordered">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Информация</th>
      </tr>
      </thead>
      <tbody>
      {% for request in requests %}
      {% if not request.closed %}
        <tr>
            <td>
              <div class="font-weight-bold">{{ request.id }}</div>
          </td>
          <td>
            <a href="{% url 'request:detail' request.id %}">
                <div>{{ request.realty }}</div>
                <div>Продавец: {{ request.client_sell }}</div>
              {% if request.client_buy %}
                <div>Покупатель: {{ request.client_buy }}</div>
              {% endif %}
                <div>{{ request.worker }}</div>
            </a>
          </td>
        </tr>
      {% endif %}
      {% endfor %}
      </tbody>
      </table>

      {% bootstrap_pagination page_obj extra=filter.data.urlencode %}
  </div>
{% endblock %}
