{% load static html_helper %}
<!-- Для отступа style="margin-top: 8px;" -->
<nav class="col-md-2 d-none d-md-block sidebar" id="sidebar">
  <div class="sidebar-sticky">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a
          class="btn btn-outline-secondary btn-lg btn-block"
          href="
            {% url 'realty:realty_list' %}"
          name="Недвижимость"
        >
          Недвижимость
        </a>
      </li>
      <li class="nav-item" style="margin-top: 8px;">
        <a
          class="btn btn-outline-secondary btn-lg btn-block"
          href="
            {% url 'client:client_list' %}"
          name="Клиенты"
        >
          Клиенты
        </a>
      </li>
    </ul>
  </div>
</nav>